USE [master]
GO
/****** Object:  Database [SanteAI_DB]    Script Date: 03/05/2026 15:23:17 ******/
CREATE DATABASE [SanteAI_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SanteAI_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SanteAI_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SanteAI_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SanteAI_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SanteAI_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SanteAI_DB]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 03/05/2026 15:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[utilisateur_id] [int] NOT NULL,
	[age] [int] NULL,
	[genre] [nvarchar](20) NULL,
	[temperature_corps] [decimal](4, 2) NULL,
	[symptomes_bruts] [nvarchar](max) NULL,
	[maladie_probale_1] [nvarchar](100) NULL,
	[pourcentage_1] [int] NULL,
	[maladie_probale_2] [nvarchar](100) NULL,
	[pourcentage_2] [int] NULL,
	[maladie_probale_3] [nvarchar](100) NULL,
	[pourcentage_3] [int] NULL,
	[decision_finale] [nvarchar](max) NULL,
	[remedes_suggeres] [nvarchar](max) NULL,
	[protocole_j1] [nvarchar](max) NULL,
	[date_consultation] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 03/05/2026 15:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT (getdate()) FOR [date_consultation]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_UtilisateurConsultation] FOREIGN KEY([utilisateur_id])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_UtilisateurConsultation]
GO
USE [master]
GO
